GEMINI_API_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=
OPENROUTER_API_KEY=


OPENCODE_LOCAL= # example C:/opencode/local | empty if no saving is required
OPENCODE_CONFIG=# example C:/opencode/config | empty if no saving is required

PATH_WINDOWS_TERMINAL="C:/Program Files/Microsoft.WindowsTerminalPreview_1.25.1322.0_x64/terminal-1.25.1322.0/wt.exe"
PATH_FOLDER_WORKSPACE=C:/proj
USE_PROXY=true
PROXY_SERVER=http://host.docker.internal:8371 #equal local proxy on 127.0.0.1:8371